/*

BASE (MOBILE) SIZE
	These are the mobile styles. It's what people see on their phones.
	Remember, keep it light: Speed is Important.

*/

/* typography */

body {
	font-family: "Roboto", "Helvetica", arial, sans-serif;
	background:#ffffff;
	color:#222222;
	font-weight:400;
	font-size:1em;
	line-height:1.5em;
	margin:0;
	padding:0;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", "Helvetica", arial, sans-serif;
	font-weight:600;
	line-height:1.5em;
	margin:0 0 1em 0;
	padding:0;
	text-align:center;
}

h3 {
color:red;
}


/* links */

a,
a:visited,
a:active { text-decoration:none;}
a:hover { }

/* Box sizing. Awesome thing. Read about it here: http://www.w3schools.com/cssref/css3_pr_box-sizing.asp */
*{	box-sizing:border-box;
	-moz-box-sizing:border-box;}

#main {
	padding-top: 3.5em;
}

.attendee_wrapper {
	margin:0;
	padding:0;
	background-color: inherit;
	display: inline-block;
}

#searchbox {margin-right:2em;}

.reg_button {
    border-radius: 1px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto", "Helvetica", arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    min-width: 150px;
    padding: 1.15em 1.5em;
    text-align: center;
    text-transform: uppercase;
    background: #888888;
    border-top: 2px solid #aaaaaa;
    border-left: 2px solid #aaaaaa;
    border-right: 2px solid #222222;
    border-bottom: 2px solid #222222;
    color: rgba(255,255,255,1.00);
}

.reg_button:hover {
	background: #444444;
    border-top: 2px solid #888888;
	border-left: 2px solid #888888;
	border-right: 2px solid #222222;
	border-bottom: 2px solid #222222;
	color:rgba(255,255,255,1.00);
}

ul { }

li {
    display: block;
    width:180px;
    min-height:260px;
    border:1px solid #bbbbbb;
	background:#ffffff;
    padding:1em;
    margin:0.35em auto;
	list-style-type:none;
	cursor:pointer;
	vertical-align:top;
	overflow:hidden;
}

li p {
    text-align:center;
	margin:0;
}

li img {
	display:block;
    margin: 0 auto;
    width:150px;
    text-align:center;
}

li.selected img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
  
.name {
	font-size:1em;
	font-weight:bold;
	padding:1.5em 0 0 0;
}

.company {
	padding:0.25em 0;
	font-size:0.8em;
}

.active{
	
}

.faded { 
	opacity:0.25;
	background:#cccccc;
}

.hidden{
	position:absolute;
	top:0;
	left:-300px;
}


/* structure */   
.wrapper {
	margin: 0 auto;
	padding:0;	
}

header{ 
	width:100%;
	background-color:rgba(255,255,255,1.00);	
	z-index:100;
}

.navwrapper{
	/*width: 92%; */
	margin: 0 auto;
	background-color:#337AB7;
}

.no_pm { padding:0; margin:0; line-height: 1em; }
.nospace { margin:0; padding:0; line-height: normal; }
.alpha{margin-left:0px;}
.omega{margin-right:0px;}
.rightfloat{float:right;}
.pad20{padding:2em;}
.right {text-align: right;}
.left {text-align: left;}
.center { text-align: center}




/* RESPONSIVE IMAGES  */
img{ max-width:100%; height:auto;}



/*SPACE GRID ELEMENTS VERTICALLY, SINCE THEY ARE ONE UNDER ANOTHER SO FAR*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid50a,
.grid50b,
.grid50c {
	margin:0.5em;
	text-align:center;
}

.greyelement { background:#f2f2f2; padding: 2em 0; }


.nav_menu {
	margin:0.25em;
	text-align:center;
	position: 0 0;
}

.nav_drop {
	margin:0.25em;
	text-align:center;
	position:relative;
}

.nav_btn {
	margin:0.25em;
	text-align:center;
	padding-top:8px;
	
}

.nav_btn div{
	max-height:40px;

}

.switch-left, .knob, .switch-right{
	padding-top:8px !important;

}
#menuToggle {
	display: block;
    position: relative;
    top: 1em;
    left: 1em;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    float: left;
    width: 4em;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;  
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #f2f2f2;
  border-radius: 3px; 
  z-index: 1; 
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #f2f2f2;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#swipemenu {
	position: absolute;
    width: 20em;
    margin: -2.75em 0 0 -1em;
    padding: 1em;
    /* padding-top: 125px; */
    background: #434343;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#swipemenu p {
  padding: 1.5em 0 0.5em 0;
  font-size: 22px;
}

#swipemenu a {
  color: #f2f2f2;
}

#swipemenu a:hover {
	text-decoration: underline;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ div
{
  transform: none;
}











/*FOOTER*/
footer{  
	padding:2em 0;
	border-top: 1px solid #cccccc;
}

footer a {color:#f2f2f2; text-decoration:none;}
footer a:hover {color:#f57a3a; text-decoration:none;}

footer ul{
	margin:0 0 0 8%;
	padding:0;
}


/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.sessionSelect {
	padding: 5px;
    border-radius: 25px;
    margin-left: 20%;
}









/****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
*****************************************
MEDIAQUERIES
*****************************************
****************************************/











/*
LARGER MOBILE DEVICES
This is for mobile devices with a bit larger screens.
*/
@media only screen and (min-width: 481px) {

li {
    width:200px;
    min-height:280px;
    display: inline-block;
    border:1px solid #cccccc;
	background:#ffffff;
    padding:1em;
    margin:0.5em;
	list-style-type:none;
	cursor:pointer;
	vertical-align:top;
	overflow:hidden;
}

} 


/*
TABLET & SMALLER LAPTOPS
The average viewing window and preferred media query for those is 768px.
But I think that some more breathing space is good:)
*/
@media only screen and (min-width: 920px) {

h1, h2, h3, h4, h5, h6 {
	text-align:left;
}

.vertical-padding{  
	padding:5em 0 4em 0;
}

.wrapper{
	margin: 0 auto;
	padding:0;
}

header{ 
	padding:0;
	position: fixed;
	top:0;
	width:100%;
	background-color:rgba(255,255,255,1.00);	
	z-index:100;
}

.navwrapper {
	/*max-width: 1400px; */
	margin: 0 auto;
	display:block; }


/*GRID*/
/*
 & Columns : 12 

 */
.grid_1 { width: 5%; }
.grid_2 { width: 13.333333333333%; }
.grid_3 { width: 21.666666666667%; }
.grid_4 { width: 30%; }
.grid_5 { width: 38.333333333333%; }
.grid_6 { /*width: 46.666666666667%;*/ }
.grid_7 { width: 55%; }
.grid_8 { width: 63.333333333333%; }
.grid_9 { width: 71.666666666667%; }
.grid_10 { width: 80%; }
.grid_11 { width: 88.333333333333%; }
.grid_12 { width: 96.666666666667%; }
.grid_100 { height:100%; width: 100%; margin:0; padding:0; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	margin-left: 1.6666666666667%;
	margin-right: 1.6666666666667%;
	float: left;
	text-align:left;
}

.nav_menu {
	margin:0;
	float: left;
    width: 3.25em;
    height: 3.25em;
	text-align:left;
}

.nav_drop {
	margin:0;
	text-align:left;
	float: left;
	width:60%;
    height: 3.5em;
    overflow: hidden;
	padding:0.5em;	
}

.nav_btn {
	margin:0 5px 0 0;
	text-align:left;
	float: right;
    height: 3.5em;	
}




/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 1024px) {



} 

/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {

} 

/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {


} 

/*
iPHONE 5 MEDIA QUERY
iPhone 5 or iPod Touch 5th generation styles (you can include your own file if you want)
*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) { 

  
}

/*
PRINT STYLESHEET
*/
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}