<div class="nav_drop"> 
	<div class="pure-css-select-style theme-gradient" style="display:inline-block;">
		<select ng-model="selectedOption" class="nullable" ng-options="s.session_title for s in sessions track by s.session_id" ng-change="getAttendeesBySession(selectedOption)">
			<option value="">{{eventData.name}}</option>
		</select>
	</div>
	
</div>

<div class="nav_btn" style="display:inline-block;"> 
		<input id="searchbox" type="search" ng-model="searchTerm" placeholder="Search by name..." />
		<toggle-switch ng-model="toggleVal" on-label="Check-in" off-label="Session" knob-label="View" class="switch-success" on-change="setView(selectedOption)"></toggle-switch>
</div>


			

<!-- 123456 section -->
<section id="123456" class="greyelement vertical-padding">
	
	<div class="wrapper">
		<ul id="headboxes">
			<article class="attendee_wrapper" ng-repeat="attendee in attendees">
			<li style="list-style: none;" ng-repeat="(key, value) in attendee | customFilterToSearchByName:searchTerm" id="{{value.attendee_id}}" class="{{value.tile_view_state}}" ng-click="attendeeSessionCheckin($event, value, selectedOption)">
				<img ng-src="{{value.attendee_photo_thumb === '' ? '/media/img/no_headshot.png' : value.attendee_photo_thumb}}" width="150" height="150">
				<p class="name">{{value.attendee_name}}</p>
				<p class="company">{{value.attendee_company_name}}</p>
			</li>
			</article>
		</ul>
	</div>
</section> 
<!-- #end section -->
