<div id="event_select">
<div class="nav_drop"> 
	<div class="pure-css-select-style theme-gradient" >
		<select ng-model="selectedOption" class="nullable" ng-options="e.name for e in events track by e.id" required ng-change="setSelectedEvent(selectedOption)">
			<option value="">Select Event to Manage</option>
		</select>
	</div>
</div>
</div>

<!-- begin section -->
<section id="123456" class="greyelement vertical-padding">   
	<div class="wrapper">
		<center>
			<div style="display:inline-block;" class="home_svg">
				<a href="/checkin">
					<img src="/media/img/checkin.svg" alt="Event Registration & Session Check-in" style="width:20vw;height:20vw"/>
					<h3 style="color:black; width:100%; text-align:center; font-size:1.5vw;">Event &amp; Session Check-in</h3>
				</a>
			</div>
			<div style="display:inline-block;width:10vw;">
				&nbsp;
			</div>
			<div style="display:inline-block;" class="home_svg">
				<a href="/meeting">
					<img src="/media/img/meeting.svg" alt="One-On-One Meeting Planner" style="width:20vw;height:20vw;"/>
					<h3 style="color:black; width:100%; text-align:center;font-size:1.5vw;">Executive Exchange Manager</h3>
				</a>
			</div>
		</center>
	</div>
</section> 
<!-- #end section -->