<div id="headline"> 
	<h1>{{eventData.name}}</h1>	
</div>
<div id="appWrap" >
<div>
	<div>
		<div id="meetingGrid" ui-grid="gridOptions" class="wm-dashboard-grid" style="top: 0;left: 0;right: 0;bottom: 0;" ng-style="resizeWithOffset(325)" resize ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection></div>
		<div id="meetingDetails">&nbsp;</div> 
	</div>

	<script type="text/ng-template" id="ngTemplate/infoPopup.html">
		<div class="modal-header modal-header-primary">
			<h4>Meeting Management</h4>
		</div>
		<div class="modal-body">
		<span style="font-weight:bold;">Conducted: </span> <input type="checkbox" ng-click="updateConducted()" ng-model="selectedRow.conducted" ng-true-value="'1'" ng-false-value="'0'" ng-checked="selectedRow.conducted">
		<br/>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary btnCustom" ng-click="cancel()">Close</button>
		</div>
	</script>
	<script type="text/ng-template" id="ngTemplate/infoDelegatePopup.html">
		<div class="modal-header modal-header-primary">
			<h4>Delegate Details</h4>
		</div>
		<div class="modal-body">
		<span>Name: </span> <span>{{selectedRow.attendee_name}}</span><br/>
		<span>Title: </span> <span>{{selectedRow.attendee_title}}</span><br/>
		<span>Company: </span> <span>{{selectedRow.attendee_company}}</span>
		<br/>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary btnCustom" ng-click="cancel()">Close</button>
		</div>
	</script>
</div> <!-- end grid div -->
</div><!-- end AppWrap -->
